@import url('http://fonts.googleapis.com/css?family=Open+Sans');

#agenda {
  background-attachment: scroll;
  background-image: url(../img/stuff-dark.png);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Open Sans';
  background-color: #222;
}

.agenda-title {
  float: left;
}

.section-heading {
  border: 5px solid rgb(33, 128, 249);
  color: white;
  letter-spacing: 10px;
  padding-bottom: 10px;
}

.cal-hour, .cal-event{
  font-size: 1em;
}

.cal-day, .cal-hour {
  color: rgb(33, 128, 249);
}

.cal-hour {
  padding-left: 5%;
  font-weight: bold;
}

.cal-day span {
  color: white;
}

.cal-label {
  font-size: 0.7em;
  font-weight: bold;
  position: relative;
  color: rgb(220,35,37);
  padding-right: 5%;
}

.cal-event {
  position: relative;
  color: white;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(97, 97, 97); transparent;
  /* RGBa with 0.6 opacity */
  background: rgba(97, 97, 97, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.cal-parallel-left{
  padding-left: 0;
  padding-right: 7.5; 
}

.cal-parallel-right{
  padding-left: 7.5;
  padding-right: 0; 
}

.cal-block {
  position: absolute;
  background-color: #5E5E5E;
  height: 100%; width: 4%;
}

.cal-event:hover {
  background-color: rgb(33, 128, 249);
  opacity:1;
}

.cal-subject {
  padding-left: 5%; padding-top: 3px;
  font-weight: bold;
  z-index: 5;
}

.cal-speaker {
  padding-left: 5%;;
}

.cal-space {
  right: 0;
  position: absolute;
  bottom: 0;
  text-align: right;
  padding-right: 5%;
}

.cal-lunch {
  margin: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

.cal-lunch span {
  line-height: 0.5;
  display: inline-block;
  position: relative;
  overflow: visible;
}

.cal-lunch span:before,
.cal-lunch span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid;
  top: 0;
  width: 400px;
}
.cal-lunch span:before {
  right: 100%;
  margin-right: 15px;
}
.cal-lunch span:after {
  left: 100%;
  margin-left: 15px;
}

#cal-coffee img {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 60%;
  height: auto;
}

#agenda a {
  text-decoration: none;
}

#cal-coffee img {
  max-width: 80%;
}

.section-heading h1 {
  font-size: 150%;
}

.cal-one-thirty{
  min-height: 20px;
}

.cal-two-thirty{
  min-height: 43px;
  padding-left: 0px;
  padding-right: 0px;
}

.cal-three-thirty {
  min-height: 64px;
}

.cal-four-thirty {
  min-height: 86px;
}

.cal-five-thirty {
  min-height: 107px;
}

.cal-six-thirty {
  min-height: 129px;
}

.cal-ten-thirty {
  min-height: 302px;
}

.cal-coffee-filler{
  height: 42px;
}

.cal-labels-filler{
  height: 34px;
}

@media screen and (max-width: 991px) {
  #cal-coffee img {
    min-width: 86px;
    min-height: 19px; 
    width: 25%;
    height: auto;
  }
  .cal-coffee-filler{
  height: 25px;
  }

  .cal-one-thirty, .cal-two-thirty, .cal-three-thirty, .cal-four-thirty, .cal-five-thirty, .cal-six-thirty, .cal-ten-thirty, .cal-coffee-filler, .cal-labels-filler{
    min-height: 0;
    height: auto;
  }

  .cal-parallel-left{
    padding-right: 0; 
  }

  .cal-parallel-right{
    padding-left: 0; 
  }
}
@media screen and (max-width: 626px) {
  .cal-label{
    font-size: 0.6em;
  }
  .cal-subject, .cal-space, .cal-speaker, h5 {
    font-size: 0.7em;
  }
  .cal-hour {
    font-size: 0.8em;
  }
  .cal-day {
    margin: 0;
    font-size: 0.9em;
  }
}