ul.carousel1 {
    width: 100%;
}

.title-container {
    margin-top: -70px;
    margin-bottom: 20px;
}

.title-container div {
    display: inline-block;
    padding: 0px 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    border: 6px solid #0098ff;
}

button a {
    color: inherit;
}

button a:hover,
button a:focus {
    text-decoration: none;
    color: inherit;
}

button.btn.btn-info.btn-sei {
    display: block;
    margin: 5px auto;
    padding: 5px;
    cursor: pointer;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

button.btn.btn-info.btn-sei:hover {
    background: #fff;
    color: #0098ff;
}

button.btn.btn-info.btn-sei.disabled {
    pointer-events: auto;
    cursor: auto;
}

button.btn.btn-info.btn-sei.disabled:hover {
    background: none;
    color: #fff;
}

button.btn.btn-info.btn-sei.disabled:hover::before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0px 6px;
    bottom: 55px;
    right: 51%;
    content: "";
    position: absolute;
    z-index: 99;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

button.btn.btn-info.btn-sei.disabled:hover::before {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

button.btn.btn-info.btn-sei.disabled::after {
    background: #333;
    border-radius: 5px;
    bottom: 60px;
    font-size: 12px;
    right: 44%;
    height: 25px;
    color: #fff;
    content: attr(tip);
    padding: 5px;
    position: absolute;
    z-index: 98;
    width: inherit;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}


button.btn.btn-info.btn-sei.disabled:hover::after,
button.btn.btn-info.btn-sei.disabled:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}


@media(min-width: 992px) {
    .event-day:not(.last-circle) .events-circle::after {
        content: "";
        position: absolute;
        height: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        left: 55%;
        width: 90%;
        cursor: auto;
    }
}

@media(max-width: 992px) {
    div.title-container div {
        font-size: 35px;
    }


    section div.title-container {
        margin-bottom: 100px;
    }

    section ul.social-buttons li a {
        height: 40px;
        width: 40px;
        font-size: 18px;
        line-height: 40px;
    }


    section ul.social-buttons li {
        padding: 0;
    }

    button.btn.btn-info.btn-sei {
        font-size: 12px;
    }
}

@media(max-width: 768px) {
    div.title-container div {
        font-size: 30px;
    }

    section ul.social-buttons li a {
        height: 30px;
        width: 30px;
        font-size: 14px;
        line-height: 30px;
    }
}

@media(max-width: 447px) {
    div.title-container div {
        font-size: 24px;
    }
}


@media(max-width: 507px) {
    section ul.social-buttons li a {
        height: 20px;
        width: 20px;
        font-size: 12px;
        line-height: 20px;
    }
}

/* OhSnap ALERTS */
/* inspired by Twitter Bootstrap */

.alert {
  padding: 15px;
  width: 300px;
  height: 75px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: fixed;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
  z-index: 98;
  cursor: pointer;
}

.alert-white {
  color: #0098ff;
  background-color: #fff;
}
.alert-green {
  color: white;
  background-color: #37BC9B;
}
.alert-blue {
  color: white;
  background-color: #4A89DC;
}
.alert-yellow {
  color: white;
  background-color: #F6BB42;
}
.alert-orange {
  color:white;
  background-color: #E9573F;
}
