#events {
    padding-top: 100px;
    padding-bottom: 250px;
    height: 1200px;
    background-attachment: scroll;
    background-image: url(../img/background_prometeu.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    font-family: "Helvetica Neue", "Open Sans", Helvetica,Arial,sans-serif;
}


#events a:hover,
#events a:focus {
    color: #fec503;
}

.external-link {
    font-weight: bold;

}

.events-title {
    float: right;
}

.events-carousel {
    height: 880px;
}

.events-status {
    text-align: center;
}

.events-circle div {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    cursor: pointer;
}

.active.event-day span,
.event-day:hover span,
.event-day:focus span{
    color:rgba(255, 255, 255, 1);
}

.active.event-day span {
    font-weight: bold;
}

.active.event-day .events-circle div,
.event-day:hover .events-circle div,
.event-day:focus .events-circle div{
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 1);
}

@media(min-width: 992px) {
    .event-day:not(.last-circle) .events-circle::after {
        content: "";
        position: absolute;
        height: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        left: 55%;
        width: 90%;
        cursor: auto;
    }
}

@media(max-width: 1200px) {
    #events {
        height: 1300px;
    }

    ul.events-carousel {
        height: 970px;
    }
}

@media(max-width: 992px) {
    #events {
        height: 1210px;
        padding-bottom: 50px;
    }

    ul.events-carousel {
        height: 880px;
    }

    #events-hackathon {
        float: left;
        margin-bottom: 0;
    }

    div.event-container img {
        padding-left: 0;
        padding-right: 10px;
        float: left;
    }

    div.event-img-full img {
        padding-left: 0;
        padding-right: 0;
    }

    div.event-description p {
        display: none;
    }

    .events-circle {
        margin: 5px auto;
    }

    div.event-day span {
        font-size: 9px;
    }

    div.event-day.active {
        padding: 0px;
    }

    .active.event-day span {
        font-size: 11px;
    }

    div.event-container {
        padding: 10px;
        font-size: 12px;
    }

    div.event-container p {
        font-size: 12px;
    }

    .event-roll p.event-type {
        font-size: 12px;
    }

    .event-roll p.event-location {
        font-size: 12px;
    }

    .event-roll p.event-title {
        font-size: 14px;
    }
}

@media(min-width: 992px) {

    #events-hackathon {
        max-height: 300px;
        margin: 0 auto;
        float: none;
        margin-bottom: 20px;
    }
}

@media(max-width: 768px) {

    #events {
        height: 1520px;
    }

    ul.events-carousel {
        height: 1140px;
    }

    div.event-day:not(.active) span {
        display: none;
    }


    div.event-container img {
        max-height: 75px;
        max-width: 75px;
    }

    div.event-container {
        min-height: 80px;
    }

    div.event-img-full {
        width: 95%;
        height: 100%;
    }

    div.event-img-full img {
        margin: 0 auto 5px auto;
        max-width: 350px;
        max-height: 350px;
        float: none;
        display: block;
    }
}

@media(max-width: 577px) {

    div.event-container {
        font-size: 10px;
    }

    div.event-container p {
        font-size: 10px;
    }

    .event-roll p.event-type {
        font-size: 10px;
    }

    .event-roll p.event-location {
        font-size: 10px;
    }

    .event-roll p.event-title {
        font-size: 11px;
    }

    div.event-day.active span {
        display: none;
    }

    div.events-status {
        margin: 0px;
    }

    div.event-day.col-sm-1 {
        padding: 0;
    }

    #events {
        height: 1440px;
    }

    ul.events-carousel {
        height: 1120px;
    }
}

@media(max-width: 426px) {
    #events {
        height: 1630px;
    }

    ul.events-carousel {
        height: 1230px;
    }
}

div.event-day span {
    color: #9E9E9E;
}

@media(max-width: 367px){
    #events {
        height: 1730px;
    }

    ul.events-carousel{
        height: 1380px;
    }
}

@media(max-width: 336px){
    #events {
        height: 1600px;
    }

    ul.events-carousel{
        height: 1400px;
    }
}

@media(max-width: 291px){
    #events {
        height: 1800px;
    }

    ul.events-carousel{
        height: 1600px;
    }
}

@media(max-width: 262px){
    #events {
        height: 2000px;
    }

    ul.events-carousel{
        height: 1800px;
    }
}


div.event-day span {
    color: #9E9E9E;
}


/* Event specific CSS */

.event-roll {
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.event-roll p {
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

p.event-type {
    color: red;
    font-size: 14px;
}

p.event-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 100%;
}

p.event-location {
    font-size: 14px;
}

.event-container {
    width: 95%;
    height: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
    background: #0098ff; /* Old browsers */
    /*background: -moz-linear-gradient(-45deg,  #0098ff 0%, #0098ff 50%, #3b8bc4 51%, #3b8bc4 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0098ff), color-stop(50%,#0098ff), color-stop(51%,#3b8bc4), color-stop(100%,#3b8bc4)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(-45deg,  #0098ff 0%,#0098ff 50%,#3b8bc4 51%,#3b8bc4 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(-45deg,  #0098ff 0%,#0098ff 50%,#3b8bc4 51%,#3b8bc4 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(-45deg,  #0098ff 0%,#0098ff 50%,#3b8bc4 51%,#3b8bc4 100%); /* IE10+ */
    /*background: linear-gradient(135deg,  #0098ff 0%,#0098ff 50%,#3b8bc4 51%,#3b8bc4 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098ff', endColorstr='#3b8bc4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.event-container img {
    max-height: 75px;
    max-width: 100%;
    margin-right: 10px;
    float: left;
}

.event-img-full img{
    max-width: none;
    max-height: none;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.event-description {
    text-align: justify;
    max-width: 100%;
    max-height: 100%;
}

.event-description p {
    text-align: left;
    font-weight: bold;
}
