/* Footer Styles */

footer {
  background: #191919 url(../img/background-footer.png) no-repeat bottom left;
  padding-bottom: 10%;
  background-size: contain;
  width: 100%;
}

footer h4, h6 {
  color: rgb(34, 127, 240);
}

footer .media-left img {
  width: 50px;
  height: 50px;
}

footer p a,
footer p a:hover,
footer p a:focus {
    text-decoration: underline;
}