header {
    background-attachment: scroll;
    background-image: url(../img/background_1.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.banner {
    position: relative;
    padding-top: 25%;
    padding-bottom: 0px;
    font-family: "Helvetica Neue", "Open Sans", Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-image {
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner-image img {
    max-height: 100%;
    max-width: 100%;
}

.banner-text {
    float: right;
    padding: 0px;
    vertical-align: middle;
    margin-bottom: 20%;
}

.banner-date {
    font-size: 48px;
    line-height: 100%;
}

.banner-locale {
    font-size: 14px;
    margin-bottom: 5px;
}

.banner-title {
    border: 8px solid;
    font-size: 60px;
    text-align: center;
    line-height: 100%;
    display: inline-block;
}

.banner-sponsors {
    font-weight: normal;
    font-size: 10px;
    text-align: left;
}

.banner-logos img{
    width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}


@media(max-width: 1200px) {

    /*.banner {
        padding-top: 25%;
    }*/

    .banner-image img {
        max-height: 90%;
        max-width: 90%;
    }

    /*.banner-text {
        margin-bottom: 20%;
    }*/

    .banner-date {
        font-size: 30px;
    }

    .banner-locale {
        font-size: 10px;
    }
    .banner-sponsors {
        font-size: 8px;
        margin-left: 6%;
        width: 75%;
    }

    .banner-title {
        font-size: 40px;
        width: 85%;
    }
}


@media(max-width: 991px) {
    .banner {
        padding-top: 25%;
    }

    .banner-image img {
        max-height: 100%;
        max-width: 100%;
    }

    .banner-text {
        margin-bottom: 25%;
    }

    .banner-date {
        font-size: 20px;
    }

    .banner-locale {
        font-size: 10px;
    }

    .banner-sponsors {
        margin-left: 12%;
        width: 80%;
        font-size: 8px;
    }

    .banner-title {
        font-size: 30px;
        width: 75%;
        border: 6px solid;
    }
}

@media(max-width: 768px) {
    .banner {
        padding-top: 25%;
    }

    .banner-date {
        font-size: 20px;
    }

    .banner-locale {
        font-size: 8px;
    }
    .banner-sponsors {
        font-size: 6px;
    }

    .banner-title {
        font-size: 26px;
        border: 4px solid;
    }
}

@media(max-width: 628px) {

    .banner-logos {
        width: 110px;
    }

    .banner-date {
        font-size: 16px;
    }

    .banner-locale {
        font-size: 6px;
    }
    .banner-sponsors {
        font-size: 4px;
        margin-left: 9%;
        width: 85%;
    }

    .banner-title {
        width: 80%;
        font-size: 20px;
        border: 3px solid;
    }
}

@media(max-width: 447px) {
    .banner-date {
        font-size: 12px;
    }

    .banner-locale {
        font-size: 6px;
    }
    .banner-sponsors {
        font-size: 4px;
        margin-left: 9%;
        width: 85%;
    }

    .banner-title {
        width: 80%;
        font-size: 14px;
        border: 3px solid;
    }
}

