#about-map {
  background: url(../img/background_contacto.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: scroll;
  color: #fff;
  padding: 25px;
}

#about-map a:hover,
#about-map a:focus {
    color: #fec503;
}

#icon-map{
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.fa-circle {
    color: #3C3E44
}

#cesium-circle {
    border-radius: 50%;
    border: 4px solid white;
    width: 6em;
    height: 6em;
    white-space: nowrap;
    text-align: center;
}

#helper-center {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#cesium-circle img {
    max-width: 70%;
}
.cesium-info{
    float:left;
}

.cesium-map{
    float:right;
}

.cesium-location {
  margin-bottom: 0px;
}

#map-canvas {
width: 400px;
height: 400px;
border-radius: 5px; }
    #map-canvas img {
    max-width: none;
    }

@media (max-width: 992px) {
  #map-canvas {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  #map-canvas {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 627px) {
  .cesium-info .col-md-9 p,
  .about-text p {
    font-size: 14px;
  }

  .cesium-info {
    text-align: center;
  }

  #cesium-circle {
    margin: 0 auto;
  }
}

@media (max-width: 447px) {
  .cesium-info .col-md-9 p,
  .about-text p {
    font-size: 12px;
  }

  .about-text h4 {
    font-size: 14px;
  }

  #map-canvas {
    width: 200px;
    height: 200px;
  }
}
