#organization {
    padding-bottom: 75px;
    background-attachment: scroll;
    background-image: url(../img/stuff-dark.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.organization-carousel {
    height: 450px;
}

.organization-title {
    float: left;
}

.staff {
    position: relative;
    padding: 0px;
}

.staff-pic {
    position: relative;
    padding: 0px;
}

section .staff-info ul.social-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}

section .staff-info ul.social-buttons li {
    position: relative;
    text-align: center;
}

.staff-info-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* Large */
@media(min-width: 1200px)  {
    div.staff-info-container {
        height: 194px;
        width: 194px;
    }
    ul.organization-carousel {
       height: 600px;
    }
}
/* Medium */
@media(min-width: 992px) and (max-width: 1199px) {
    div.staff-info-container {
        height: 162px;
        width: 162px;
    }
    ul.organization-carousel {
       height: 480px;
    }

    span.staff-name {
        font-size: 16px;
    }

    .staff-position {
        font-size: 12px;
    }

    section .staff-info ul.social-buttons li a {
        height: 30px;
        width: 30px;
        font-size: 14px;
        line-height: 30px;
    }
}
/* Small */
@media(min-width: 768px) and (max-width: 991px) {
    div.staff-info-container {
        height: 124px;
        width: 124px;
    }
    ul.organization-carousel {
       height: 390px;
    }

    section .staff-info ul.social-buttons li a {
        height: 18px;
        width: 18px;
        font-size: 9px;
        line-height: 18px;
        margin-bottom: -10px;
    }

    span.staff-name {
        font-size: 14px;
    }

    span.staff-position {
        font-size: 9px;
    }
}

@media(max-width: 767px) {
    div.staff-info-container {
        height: 186px;
        width: 186px;
    }
    ul.organization-carousel {
        height: 560px;
    }

    section .staff-info ul.social-buttons li a {
        height: 30px;
        width: 30px;
        font-size: 14px;
        line-height: 30px;
    }

    section .staff-info ul.social-buttons {
        margin-bottom: 5px;
    }

    span.staff-name {
        font-size: 14px;
    }

    span.staff-position {
        font-size: 11px;
    }

}

@media(max-width: 717px) {
    div.staff-info-container {
        height: 170px;
        width: 170px;
    }
    ul.organization-carousel {
        height: 515px;
    }
}

@media(max-width: 667px) {
    div.staff-info-container {
        height: 160px;
        width: 160px;
    }

    ul.organization-carousel {
        height: 480px;
    }

    section .staff-info ul.social-buttons li a {
        height: 20px;
        width: 20px;
        font-size: 11px;
        line-height: 20px;
    }
}

@media(max-width: 617px) {
    div.staff-info-container {
        height: 145px;
        width: 145px;
    }
    ul.organization-carousel {
        height: 435px;
    }
}

@media(max-width: 567px) {
    div.staff-info-container {
        height: 130px;
        width: 130px;
    }
    ul.organization-carousel {
        height: 400px;
    }
}

@media(max-width: 517px) {
    div.staff-info-container {
        height: 117px;
        width: 117px;
    }

    ul.organization-carousel {
        height: 360px;
    }

    span.staff-name {
        font-size: 12px;
    }

    span.staff-position {
        font-size: 8px;
    }
}

@media (max-width: 467px) {
    div.staff-info-container {
        height: 105px;
        width: 105px;
    }
    ul.organization-carousel {
        height: 320px;
    }

    span.staff-name {
        font-size: 7px;
    }

    span.staff-position {
        display: none;
    }
}

@media(max-width: 417px) {
    div.staff-info-container {
        height: 93px;
        width: 93px;
    }
    ul.organization-carousel {
        height: 300px;
    }
}

@media (max-width: 387px) {
    div.staff-info-container {
        height: 85px;
        width: 85px;
    }
    ul.organization-carousel {
        height: 255px;
    }
}

@media (max-width: 357px) {
    div.staff-info-container {
        height: 77px;
        width: 77px;
    }
    ul.organization-carousel {
        height: 231px;
    }
}

@media (max-width: 337px) {
    div.staff-info-container {
        height: 72px;
        width: 72px;
    }
    ul.organization-carousel {
        height: 216px;
    }
}


.staff-info {
    color: #fff;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    background-color: rgba(158, 158, 158, 0.8);
    text-align: center;
    transition: top 0.2s ease;
    -webkit-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    text-transform: uppercase;
}


.staff-name {
    font-weight: bold;
    font-size: 18px;
    color: #212121;
    letter-spacing: 2px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.staff-position {
    line-height: 100%;
    color: #424242;
    margin-bottom: 5%;
}

.staff-info span:hover {
    /*cursor: default;*/
}

.staff-info .social-buttons {
    margin-bottom: 10%;
}

.staff-info-container:hover .staff-info,
.staff-info-container:focus .staff-info {
    top: 0;
}

.organization-indicators{
    text-align: center;
}

.organization-indicators div.rn-carousel-indicator span {
    font-size: 22px;
}

.organization-indicators div.rn-carousel-indicator span:hover,
.organization-indicators div.rn-carousel-indicator span:focus {
    font-size: 30px;
}

.organization-indicators div.rn-carousel-indicator span,
.organization-indicators div.rn-carousel-indicator span:hover,
.organization-indicators div.rn-carousel-indicator span:focus {
    vertical-align: middle;
    margin: 5px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
}

.organization-indicators div.rn-carousel-indicator span.active {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    vertical-align: middle;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
}
/*
.organization-indicators .rn-carousel-controls span.rn-carousel-control{
    font-size: 26px;
    color: #0098ff;
}*/
