/* Credits: http://bradsknutson.com/blog/css-social-ribbons/ */

@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
.ribbon-container {
  margin-left: 205px;
  width: 150px;
}

.ribbon {
  float: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
  background: blue;
  width: 35px;
  height: 70px;
  position: relative;
  color: white;
  padding: 5px;
  -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
  z-index: 1031;
  text-align: center;
  margin-right: 5px;
}

a.ribbon:hover {
  color: #fec503
}

.ribbon i {
  line-height: 60px;
  font-size: 20px;
}

.ribbon:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 15px solid blue;
  border-right: 20px solid transparent;
}

.ribbon:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 0;
  border-top: 15px solid blue;
  border-left: 20px solid transparent;
}

.facebook {
  background: #3b5998;
  color: #1e2e4f;
}

.facebook:after {
  border-top-color: #3b5998;
}

.facebook:before {
  border-top-color: #3b5998;
}

.twitter {
  background: #00a0d1;
  color: #00526b;
}
.twitter:after {
  border-top-color: #00a0d1;
}
.twitter:before {
  border-top-color: #00a0d1;
}

.signup {
  background: #607D8B;
  color: #263238;
}
.signup:after {
  border-top-color: #607D8B;
}
.signup:before {
  border-top-color: #607D8B;
}
@media(max-width: 1010px){
  .ribbon-container {
  margin-left: 130px;
  }
}
@media(min-width: 768px) and (max-width: 920px) {
  .ribbon-container {
    display: none;
  }
}

@media(max-width: 401px){
  .ribbon-container {
    margin-left: 80px;
  }
}

@media(max-width: 357px){
.ribbon i {
  line-height: 24px;
}

.ribbon {
  height: 35px;
}
}