css:
  .field_with_errors   display: inline;
.container
  .row
    .col-md-12
      .row
        .col-md-2.sei-logo-sign-in
          = link_to root_path
            = image_tag "sei-logo.svg", class: "responsive-image"
      #users-new.form-container
        img#login-logo.sei-logo/
        h2 Registar
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            = f.label :first_name
            = f.text_field :first_name, autofocus: true
          .field
            = f.label :last_name
            = f.text_field :last_name
          .field
            = f.label :email
            = f.email_field :email
          .field
            = f.label :username
            = f.text_field :username
          .field
            = f.label :location
            = f.text_field :location
          .field
            = f.label :sex
            .radio-div
              = f.radio_button :sex, UserSex::MALE, class: 'sex-option'
              = f.label :male, class: 'option-label sex-option'
            .radio-div
              = f.radio_button :sex, UserSex::FEMALE, class: 'sex-option'
              = f.label :female, class: 'option-label sex-option'

          .field#is-univ-student
            = f.label :is_univ_student
            .radio-div
              = f.radio_button :is_univ_student, true,
                class: 'univ-student-info-checkbox', checked: false
              = f.label :yes_sir, class: 'option-label'
            .radio-div
              = f.radio_button :is_univ_student, false,
                class: 'univ-student-info-checkbox', checked: false
              = f.label :no_sir, class: 'option-label'

          .field#profession hidden=""
            = f.label :profession
            = f.text_field :profession, value: nil

          .field#is-student-at-minho-univ hidden=""
            = f.label :is_student_at_minho_univ
            .radio-div
              = f.radio_button :is_student_at_minho_univ, true,
                class: 'univ-student-info-checkbox'
              = f.label :yes_sir, class: 'option-label'
            .radio-div
              = f.radio_button :is_student_at_minho_univ, false,
                class: 'univ-student-info-checkbox', checked: true
              = f.label :no_sir, class: 'option-label'

          .field#minho-univ-student-id.field hidden=""
            = f.label :minho_univ_student_id
            = f.text_field :minho_univ_student_id, value: nil

          .field#is-inf-eng-student-at-minho-univ hidden=""
            = f.label :is_inf_eng_student_at_minho_univ
            .radio-div
              = f.radio_button :is_inf_eng_student_at_minho_univ, true,
                class: 'univ-student-info-checkbox'
              = f.label :yes_sir, class: 'option-label'
            .radio-div
              = f.radio_button :is_inf_eng_student_at_minho_univ, false,
                class: 'univ-student-info-checkbox', checked: true
              = f.label :no_sir, class: 'option-label'
            br

          .field#university hidden=""
            = f.label :university
            = f.text_field :university, value: nil

          .field#course hidden=""
            = f.label :course
            = f.text_field :course, value: nil

          .field#is-cesium-associate hidden=""
            = f.label :is_cesium_associate
            .radio-div
              = f.radio_button :is_cesium_associate, true,
                class: 'univ-student-info-checkbox'
              = f.label :yes_sir, class: 'option-label'
            .radio-div
              = f.radio_button :is_cesium_associate, false,
                class: 'univ-student-info-checkbox', checked: true
              = f.label :no_sir, class: 'option-label'

          .field#cesium-associate-number hidden=""
            = f.label :cesium_associate_number, "Qual é o teu número de sócio? (Deixa em branco caso não saibas)"
            = f.text_field :cesium_associate_number, value: nil
          .field
            .actions
              = button_tag "Registar", type: 'submit',
                class: 'btn btn-submit col-md-2 col-xs-12', id: 'user-new-submit'

= javascript_include_tag 'register-form'
