<div class="col-md-12">
	<br />
	<br />
    <% @badges.each do |badge| %>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="badge-logo">
                <%= link_to (image_tag (badge.logo_url)), edition_badge_path(@edition, badge) %>
            </div>
        </div>
    <% end %>
</div>
