<div class="col-md-12">
	<div class="col-xs-12 text-center">
		<%= link_to "Hall of Fame", edition_hall_of_fame_path, class: 'badge-of-fame' %>
		<%= link_to "Organizer of Fame", edition_organizer_of_fame_path, class: 'badge-of-fame' %>
	</div>
	<br />
	<br />
	<% @badges.select{ |b| b.logo_url }.each do |badge| %>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="badge-logo">
                <%= link_to (image_tag (badge.logo_url)), edition_badge_path(@edition, badge) %>
            </div>
        </div>
    <% end %>
</div>
