.col-md-12.text-center
  br
  br
  - @participants.each do |participant|
    .col-md-3.col-sm-4.col-xs-4
      = link_to edition_participant_path(@edition, participant).sub(/\d+\z/, participant.username) do
        |  <div class="user-logo" style="background-image:url(
        = participant.avatar.url
        | )">
    .user-name
      h5
        = link_to participant.full_name, edition_participant_path(@edition, participant).sub(/\d+\z/, participant.username)
