.participant-img {
  width: 55%;
  height: 55%;
  margin: auto;
  margin-top: 20px;
}

.img-participant {
  margin: auto;
}

.participant-profile-link {
  margin-top: 10px;
}

.list-group-item {
  background-color: transparent;
}

.participant-info {
  list-style-type: none;
  padding: 0;
}

.participant-info-category, .participant-info-item {
  width: 100%;
}

.participant-info-category {
  color: $color-gray;
}

.participant-info-item {
  margin-bottom: 10px;
}

.social-link {
  margin-left: 10px;
  margin-right: 10px;
}

.user-update-info {
  text-align: left;
}

#back-button {
  margin: 0 auto;
  display: block;
}

#bio-field textarea {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $color-gray;
}

.img-hof {
  padding: 10%;
}

.hof-row {
  display: flex;
}

.participant-badge {
  height: 132px;
  margin: auto;
}

@media (max-width: 1200px) {
  .participant-badge {
    height: 120px;
  }
}

@media (max-width: 768px) {
  .participant-badge {
    height: 132px;
  }
}

@media (max-width: 320px) {
  .participant-badge {
    height: 110px;
  }
}

.hof-row-alternate {
  background-color: $color-light-gray;
  display: flex;
}

.hof-info {
  align-self: center;
}
