// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.participant-img {
    width: 55%;
    height: 55%;
    margin: auto;
    margin-top: 20px;
}

.list-group-item {
    background-color: transparent;
    color: $color-white;
}

.social-link {
    margin-left: 10px;
    margin-right: 10px;
}

#back-button {
    margin: 0 auto;
    display: block;
}
