$tablet: "(max-width: 1023px)"
$smartphone: "(max-width: 767px)"
$detective: "(max-width: 380px)"

.user-logo
  width: 80%
  height: 80%
  margin: 0 auto
  border: 5px solid white
  background-color: #444
  background-size: cover
  background-position: center
  transition: .5s ease
  backface-visibility: hidden
  border: 2px solid rgb(21, 130, 213)

.user-img-middle
  transition: .5s ease
  opacity: 0
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center
  p
    font-family: "Montserrat", sans-serif
    font-size: 20px
    font-weight: bold
    color: rgb(21, 130, 213)

@media #{$tablet}
  .user-logo
    margin: 0px auto
    width: 80%
    height: 80%

@media #{$smartphone}
  .user-logo
    margin: 0px auto
    width: 70%
    height: 70%

@media #{$detective}
  .user-logo
    margin: 0px auto
    width: 60%
    height: 60%

#user-new-login
  float: left

#user-signup
  float: left

#user-new-submit
  margin-top: 10px

#login-logo
  max-width: 150px
  margin-top: 50px
  content: image-url('logo_sei.png')

.user-edit-img
  margin-top: 10%
  & label
    text-align: center
    width: 100%
    margin: auto
  & img
    max-width: 500px
    margin-bottom: 15px
  & input
    margin: 0 auto
    display: none

.user-edit-img:hover
  & label
    cursor: pointer
  .user-logo
    opacity: 0.05
    cursor: pointer
  .user-img-middle
    opacity: 1   
    cursor: pointer
    
.user-edit-info
  padding: 0
  i
    float: left
    font-size: 11px
    font-decoration: italic

#user-edit-submit
  margin-top: 20px

.user-badge img
  margin: 5px
