- @time_span.each do |day|
  - if @activities.select { |a| a.begin_date.day == day.day }.size > 0
    .container
      .col-md-12.text-center
        .col-md-6.col-md-offset-3
          h2
            = Activity::day_to_s(day)
    br
    .container
      .wrapper
        .col-md-12
          .col-md-6.col-md-offset-3
            ul.list-group
              - @activities.select do |a| a.begin_date.day == day.day }.sort { |a, b| a.begin_date <=> b.begin_date }.each do |a|
                = link_to(edition_activity_path(@edition, a).sub(/\d+\z/, a.url_escaped_name)) do
                  li.list-group-item-info.list-group-item.text-center.badge-name
                    h5
                      = a.name
