= stylesheet_link_tag "stylsheets/glyphicons", media: "all"
.container
  .col-md-12.text-center
    .col-md-6.col-md-offset-3
      = image_tag @activity.poster_photo_url, class: 'img-responsive participant-img'
      h2
        = @activity.name
      h5
        = @activity.type_to_s
.container
  - if @activity.end_date > DateTime.now
    .col-xs-12
      .text-center
        - if !@participant.registered_at? @activity
          = link_to 'Inscrever na Atividade', register_edition_activity_path(@edition, @activity), class: "btn btn-submit", method: :post
        - else
          = link_to 'Anular Inscrição na Atividade', deregister_edition_activity_path(@edition, @activity), method: :delete, class: "btn btn-danger"
br
.container
  .wrapper
    .col-md-12
      .col-md-6.col-md-offset-3
        ul.list-group
          - if @activity.speakers.first
            li.list-group-item-info.list-group-item
              b
                | Orador:
              = @activity.speakers.first.name + (@activity.speakers.first.company ? " (#{@activity.speakers.first.company.name})" : '')
          li.list-group-item-info.list-group-item
            b
              | Data:
            = @activity.begin_date_to_s
          li.list-group-item-info.list-group-item
            b
              | Local:
            = @activity.place
- if !@activity.description.blank?
  .container
    .col-md-12.text-center
      .col-md-6.col-md-offset-3
        h2
          | Descrição
        span
          = @activity.description
br
- if @activity.users.size > 0
  .container
    .col-md-12.text-center
      .col-md-6.col-md-offset-3
        h3
          | Lista de Participantes
  div
    .col-md-12
      - @activity.users.each do |participant|
        .col-md-3.col-xs-4
          .badge-name
            h5
              = link_to participant.full_name, edition_participant_path(@edition, username: participant.username)
          .badge-logo
            = link_to (image_tag (participant.avatar.url)), edition_participant_path(edition_id: @edition.id, username: participant.username )
  br
